/* All selectors with element as the name are self explanatory */
header {
  border-style: solid;
  border-width: thick;
  margin: 20px;
  padding: 10px;
}

h1 {
  font-size: xx-large;
}

aside {
  border-style: solid;
  border-width: thick;
  margin-top: 45px;
  margin-left: 20px;
  padding: 10px;
  width: 200px;
  height: 360px;
  float: left;
}

h3 {
  border-style: solid;
  border-width: thick;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: x-large;
  margin: 20px;
}

main {
  width: 944px;
  margin-left: 240px;
}

img {
  max-width: 250px;
  max-height: 250px;
  margin: 20px;
  border-width: thick;
  border-style: solid;
}

/* Styles for the aside header */
#voteheader {
  border-style: solid;
  border-width: thick;
  text-align: center;
  font-size: x-large;
}

/* Styles for where the images render so they're not their actual size */
#image-container {
  border-width: thick;
  border-style: solid;
  width: 944px;
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 50px;
}

p {
  border-width: thick;
  border-style: solid;
  width: 830px;
  margin-left: 20px;
  text-align: inherit;
  margin-bottom: 250px;
  padding: 10px;
}

footer {
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
}

/* This is to keep the footer down below the other elements when the voting session is over and the area where the pictures render shrinks */
.staystill {
  height: 300px;
  clear: both;
}

